body {
    background-color: #f4e1b5; /* warm cream color */
    margin: 0;
    padding: 0;
}
header {
    background-color: #ebbb4c;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1) ;
}

.logo {
    margin: 4px;
    height: 110px;
    border-radius: 32px;
}

.ghana-section {
    text-align: center;
    padding: 40px;
}

.ghana-image {
    width: 400px;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 20px auto;
}